<!DOCTYPE html>
<html lang="en">
<head>
  <% var username = username; var user = user; var event = event; var startDateTimeStr = startDateTimeStr; var endDateTimeStr = endDateTimeStr; %>
  <% include ./partials/head %>
</head>
<body class="container">

  <header>
    <% include ./partials/flash %>
    <% include ./partials/header %>
  </header>

  <main>
    <div class="jumbotron">
      <h1><%= event.name %></h1>

      <p>

        <!-- Start/end date and time -->
        <% if (event.endTime == null) { %>
          <!-- No end date specified -->
          <%= getDateTimePrettyFormat(event.startTime) %>
        <% } else if (getDateTimeStr(event.startTime).substr(0,10) == getDateTimeStr(event.endTime).substr(0,10)) { %>
          <!-- Same start/end dates -->
          <%= getDateTimePrettyFormat(event.startTime) %> - <%= getDateTimePrettyFormat(event.endTime).substr(16) %>
        <% } else { %>
          <!-- Different start/end dates -->
          <%= getDateTimePrettyFormat(event.startTime) %> - <%= getDateTimePrettyFormat(event.endTime) %>
        <% } %>

        <!-- Location (required) -->
        <br><%= event.location %>

        <!-- RSVP Limit -->
        <% var registered = event.rsvpUsers.length %>
        <% if (event.rsvpLimit != null) { %>
          <br>RSVP Limit: <%= registered %>/<%= event.rsvpLimit %>
        <% } else { %>
          <br>Attendees Registered: <%= registered %> %>
        <% } %>

        <!-- Description -->
        <% if (event.description != null) { %><br><%= event.description %><% } %>



        <!-- ADMIN SECTION -->
        <% if (user != null && (user.roles.type.admin || user.roles.type.superuser)) { %>
          <% if (event.rsvpUsers.length != 0) { %>
            <h3>RSVP'd Users</h3>
            <p>
              <% event.rsvpUsers.forEach(function(user) { %>
                <%= user %><br>
              <% }); %>
            </p>
          <% } else { %>
            <p>0 students are currently registered for this event.</p>
          <% } %>
        <% } %>

      </p>


    </div>
  </main>

  <footer>
    <% include ./partials/footer %>
  </footer>

</body>
</html>
