<!DOCTYPE html>
<html lang="en">
<head>
  <% var username = username; var user = user; %>
  <% include ./partials/head %>
  <link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
  <script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>
</head>
<body class="container">

  <header>
    <% include ./partials/flash %>
    <% include ./partials/header %>
  </header>

  <main>
    <div class="jumbotron">
      <h1>User Management</h1>


      <% if (user != null && (user.roles.type.admin || user.roles.type.superuser)) { %>
        <% if (allUsers.length != 0) { %>
            <table id="users-table" class="table table-striped">
              <thead>
                <tr>
                  <th>Name</th>
                  <th>Student ID</th>
                  <% if (user.roles.type.superuser) { %>
                    <th colspan="1"></th>
                  <% } else { %>
                    <th>User Role</th>
                  <% } %>
                </tr>
              </thead>
              
              <tbody>
                  <% allUsers.forEach(function(userI) { %>
                    <tr>
                      <td><%= userI.firstName %> <%= userI.lastName %></td>
                      <td><%= userI.username %></td>
                      
                      <% if (user.roles.type.superuser) { %>
                        <% if (user.username != userI.username) { %>
                            <% if (userI.roles.type.admin) { %>
                              <td data-toggle="modal" data-target="#confirm-changeRole" data-record-title="<%= userI.firstName + ' ' + userI.lastName %>" data-record-username="<%= userI.username %>" data-record-change-to="Non-Admin">
                                <input id="<%= userI.username %>-role-toggle" type="checkbox" checked data-toggle="toggle" data-on="Admin" data-off="User">
                              </td>
                            <% } else { %>
                              <td data-toggle="modal" data-target="#confirm-changeRole" data-record-title="<%= userI.firstName + ' ' + userI.lastName %>" data-record-username="<%= userI.username %>" data-record-change-to="Admin">
                                <input id="<%= userI.username %>-role-toggle" type="checkbox" data-toggle="toggle" data-on="Admin" data-off="User">
                              </td>
                            <% } %>
                        <% } else { %>
                            <% if (userI.roles.type.admin) { %>
                              <td>
                                <input id="<%= userI.username %>-role-toggle" type="checkbox" checked data-toggle="toggle" data-on="Admin" data-off="User" disabled>
                              </td>
                            <% } else { %>
                              <td>
                                <input id="<%= userI.username %>-role-toggle" type="checkbox" data-toggle="toggle" data-on="Admin" data-off="User" disabled>
                              </td>
                            <% } %>
                        <% } %>
                      <% } else { %>
                        <% if (userI.roles.type.admin) { %>
                          <td>Admin</td>
                        <% } else { %>
                          <td>User</td>
                        <% } %>
                      <% } %>
                      
                    </tr>
                  <% }); %>
              </tbody>
            </table>
        <% } else { %>
          <h3>0 students are currently using this system.</h3>
        <% } %>
      <% } %>

    </div>
  </main>

  <footer>
    <% include ./partials/footer %>
  </footer>
  
  
  <div class="modal fade" id="confirm-changeRole" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title" id="myModalLabel">Confirm Change</h4>
                </div>
                <div class="modal-body">
                    <p>You are about to change the role of <b class="title"></b> to <i class="changeTo"></i>.</p>
                    <p>Do you want to proceed?</p>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-danger btn-ok">Change</button>
                  <button type="button" class="btn btn-default btn-cancel" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>

  <script>
      $('#confirm-changeRole').on('click', '.btn-ok', function(e) {
          var $modalDiv = $(e.delegateTarget);
          var username = $(this).data('username');
          console.log($(this).data());
          if ($(this).data('changeTo') == "Admin") {
            $.post('/users/' + username + '/adminify', function(data, status) {
              console.log("Status: " + status);
              setTimeout(function() {
                $modalDiv.modal('hide').removeClass('loading');
                window.location = "/users";
              }, 250)
            });
          } else {
            $.post('/users/' + username + '/unadminify', function(data, status) {
              console.log("Status: " + status);
              setTimeout(function() {
                $modalDiv.modal('hide').removeClass('loading');
                window.location = "/users";
              }, 250)
            });
          }
          $modalDiv.addClass('loading');
      });
      
      $("#confirm-changeRole").on("hidden.bs.modal", function (e) {
        var id = "#" + data.recordUsername + "-role-toggle";
        
        console.log(data.recordChangeTo);
        
        if (data.recordChangeTo == "Admin") {
          $(id).parent().addClass('btn-default');
          $(id).parent().addClass('off');
          $(id).parent().removeClass('btn-primary');
        } else {
          $(id).parent().removeClass('off');
          $(id).parent().addClass('btn-primary');
          $(id).parent().removeClass('btn-default');
        }
      });
      
      $('#confirm-changeRole').on('show.bs.modal', function(e) {
          data = $(e.relatedTarget).data();
          $('.title', this).text(data.recordTitle);
          $('.changeTo', this).text(data.recordChangeTo);
          $('.btn-ok', this).data('username', data.recordUsername);
          $('.btn-ok', this).data('changeTo', data.recordChangeTo);
          $('.btn-cancel', this).data('username', data.recordUsername);
          $('.btn-cancel', this).data('changeTo', data.recordChangeTo);
      });
    </script>
  

</body>
</html>
